/* *{
    border: 1px solid black;
} */

html {
    font-family: 'Kanit', 'Courier New', "Courier", "monospace";
    color: black;
}

header {
    background: rgb(15,22,44);
    background: linear-gradient(117deg, rgba(15,22,44,1) 18%, rgba(105,66,147,1) 73%, rgba(3,5,19,1) 100%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#containerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    width: 450px;
    height: 1000px;
}

.searchCity {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

#searchHistory {
    text-transform: capitalize;
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.previous-search {
    color: white;
    border-radius: 20px;
    background-color: rgb(139, 124, 154);;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    display:flex;
    flex-direction: column;
    border: 1px solid rgb(83, 63, 92);
}

#cityInput {
    border-radius: 20px;
    width: 100%;
}

#search-btn {
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(117deg, rgba(15,22,44,0.9613095238095238) 45%, rgba(105,66,147,1) 100%, rgba(46,52,95,1) 100%);
    width:100%;
    display:block;
}


#container {
    text-align: justify; 
    margin-right: 50px; 
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    text-transform: capitalize;   
}

.currentCard {
    margin-top: 15px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: rgb(139, 124, 154);
    border: 1px solid rgb(83, 63, 92);
}

