html {
    font-family: 'Kanit', 'Courier New', "Courier", "monospace";
    color: black;
}

header {
    background: rgb(15,22,44);
    background: linear-gradient(117deg, rgba(15,22,44,1) 18%, rgba(105,66,147,1) 73%, rgba(3,5,19,1) 100%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#containerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    height: 1000px;
}
/* #container {
    display: flex;
    flex-wrap: wrap;
} */

.searchCity {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.previous-search {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

#cityInput {
    border-radius: 20px;
    width: 100%;
}

#search-btn {
    border-radius: 20px;
    color: white;
    background: linear-gradient(117deg, rgba(15,22,44,0.9613095238095238) 45%, rgba(105,66,147,1) 100%, rgba(46,52,95,1) 100%);
    width:100%;
    display:block;
}

.currentWeather {
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 20px;
    background-color: rgb(139, 124, 154);
    text-transform: capitalize;
    width: 950px;
    height: 280px;
}

.forecast {
    border-radius: 20px;
    text-transform: capitalize;   
    background-color: rgb(139, 124, 154);
    text-transform: capitalize;
    width: 250px;
    height: 320px;
    margin-top: 10px;
}
