html {
    font-family: 'Kanit', 'Courier New', "Courier", "monospace";
    color: black;
}

header {
    background: rgb(15,22,44);
    background: linear-gradient(117deg, rgba(15,22,44,1) 18%, rgba(105,66,147,1) 73%, rgba(3,5,19,1) 100%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#containerSearch {
    justify-content: space-around;
    width: 450px;
    height: 1000px;
}

.searchCity {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

#cityInput {
    border-radius: 20px;
    width: 100%;
}

.search-btn {
    border-radius: 20px;
    color: white;
    background: linear-gradient(117deg, rgba(15,22,44,0.9613095238095238) 45%, rgba(105,66,147,1) 100%, rgba(46,52,95,1) 100%);
    width:100%;
    display:block;
}

.currentWeather {
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 20px;
    background-color: rgb(209, 180, 236);
    text-transform: capitalize;
    width: 750px;
    height: 350px;
}

.forecast {
    margin-right: 100px;
    border-radius: 20px;
    margin-top: 400px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    height: 400px;

}
